/* signup.css 
fundo -> #d9f2f7
caixa de mensagem -> #CAF078
botao -> #459EB5
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: #d9f2f7;
    height: 100vh; /* Define a altura do body para 100% da viewport */
    width: 100vw;
    display: flex; /* Ativa flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.container {
    border: 1px solid rgba(0, 0, 0, 0.137);
    max-width: 400px;
    padding: 30px; 
    padding-top: 10px;
    padding-left: 40px;/* Adiciona espaçamento interno ao container */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white; /* Fundo branco para a caixa de mensagem */
}

h2 {
    margin: 20px;
    padding-top: 10px;
    color: #3b7b9a;
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px; 
}

label {
    font-size: 1em;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

input {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 0 auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4591b48e;
    color: rgb(0, 0, 0); 
}

input:focus-within{
    background-color: #4591b423;
}

button {
    margin: auto;
    width: calc(100% - 20px); 
    padding: 10px;
    background-color: #459EB5; 
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3b7b9a; 
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
}

@media (max-width: 768px) {
    .logo {
      display: none;
    }
  }
  